<!DOCTYPE html>
<html  xmlns:th="htpp://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout}">
<head>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body layout:fragment="content">
    
    <div class="page-corps">
        <div class="log-form">

            <div id="inscription">
                <div class="flex-column">

                    <div id="login-row" class="row justify-content-center align-items-center">
    
                        <div id="login-column" class="col-md-6">
    
                            <div id="login-box" class="col-md-12">
    
                                <form id="login-form" class="form" th:action="@{/evenement/save}" method="post">
                                    <h3 class="text-center" style="color: #00a3e0" >
                                        Nouvel Evénement
                                    </h3>
                                    <div class="form-group">
                                        <label class="control-label" for="theme">Choix du thème:</label>
                                            <select class="form-control" id="theme"  selected="selected" name="theme" required="required">
                                                <option th:value="Art" >Art</option>
                                                <option th:value="Culture" >Culture</option>
                                                <option th:value="Conference" >Conférence</option>
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="nom" class="text-secondary">Nom :
                                        </label><br>
                                        <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="dateEvenement" class="text-secondary">Date de l'évenement :
                                        </label><br>
                                        <input type="date" name="dateEvenement" id="dateEvenement" class="form-control" placeholder="${evenement.dateEvenement}" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="nombreParticipantMax" class="text-secondary">Nombre de participant maximum :
                                        </label><br>
                                        <input type="number" name="nombreParticipantMax" id="nombreParticipantMax" class="form-control" placeholder="10" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="textarea">Description :</label>
                                        <textarea id="textarea" class="form-control" name="description" rows="4" value="écrivez votre texte en 500 caractères" maxlength="500"></textarea>
                                        <small class="form-text text-muted">Vous pouvez agrandir la fenêtre</small>
                                    </div>
                                    <div class="form-group row justify-content-center align-items-center">
                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                        <button  type="submit" class="btn btn-primary btn-lg btn-block" name="submit" value="submit">Enregistrer</button>
                                    </div>
                                </form>
    
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>