<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout}">
<head>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body layout:fragment="content">
  <div id="home-corps">
    <div id="home-presentation" class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class=img-responsive src="images/logo.png" style="width:80%;" alt="Info Logo" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">ACP</h5>
              <p class="card-text">L'Association Art, Culture et Philosophie du mieux vivre (ACP) est une association
                  loi 1901, apolitique et areligieuse,avec pour objectif de favoriser les démarches artistiques
                  émergentes, et les aider à se diffuser avec des démarches associatives favorisant la solidarité, la
                  fabrication de lien social.<br/>
                  Nos locaux sont ponctuellement situés 33 rue Paul CÉZANNE, dans la commune de Le Grand-Quevilly.<br/>
                  Pour accéder et participer à nos événements vous pouvez vous inscrire via notre site. A réception de
                  votre cotisation annuelle de 20€ vous serez membre de l'association.<br/>
                  De plus vous pouvez nous aider à construire nos événements en devenant Membre Honoraire ou bien membre
                  Bienfaiteur avec un don de 90€ et la cotisation annuelle.</p>
          </div>
        </div>
      </div>
    </div>
</div>


<footer class="navbar-fixed-bottom">
    <hr />
    <hr />
    <div class="containe">
        <small> Copyright 2021 </small>
    </div>
</footer>
</body>
</html>

