<!DOCTYPE html>
<html  xmlns:th="htpp://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
       layout:decorate="~{layout}">
<head>

    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body layout:fragment="content">
    
    <div class="page-corps">
        <div class="log-form">

            <div id="inscription">
                <div class="flex-column">

                    <div id="login-row" class="row justify-content-center align-items-center">
    
                        <div id="login-column" class="col-md-6">
    
                            <div id="login-box" class="col-md-12">
    
                                <form id="login-form" class="form" th:action="@{/membre/save}" method="post">
                                    <h3 class="text-center" style="color: #00a3e0" >
                                        Formulaire d'inscription
                                    </h3>
                                    <div class="form-group">
                                        <label for="username" class="text-secondary">Nom d'utilisateur :
                                            <span class="help-block" th:if="${#fields.hasErrors('membre.pseudo')}" th:errors="*{membre.pseudo}" style="color: red"></span>
                                        </label><br>
                                        <input type="text" name="username" id="username" class="form-control" placeholder="Identifiant" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="text-secondary">Nom :
                                            <span class="red" th:errors="${membre.nom}"></span>
                                        </label><br>
                                        <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="text-secondary">Prénom :
                                            <span class="red" th:errors="${membre.prenom}"></span>
                                        </label><br>
                                        <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Prénom" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="text-secondary">Email :
                                            <span class="help-block" th:if="${#fields.hasErrors('membre.email')}" th:errors="*{membre.email}" style="color: red"></span>
                                        </label><br>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="email" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="text-secondary">Mot de passe :
                                            <span  class="red" th:errors="${membre.password}"></span>
                                        </label><br>
                                        <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required="required">
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="Membre Actif">
                                        <label class="form-check-label" for="Membre Actif">
                                            Membre Actif
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="Membre Bienfaiteur" checked>
                                        <label class="form-check-label" for="Membre Bienfaiteur">
                                            Membre Bienfaiteur
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="Membre Honoraire" checked>
                                        <label class="form-check-label" for="Membre Bienfaiteur">
                                            Membre Honoraire
                                        </label>
                                    </div>
                                    <div class="form-group row justify-content-center align-items-center">
                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" name="submit" value="submit">Enregistrer</button>
                                    </div>
                                </form>
    
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>