<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header id="mon-header">
    <img class=img-responsive src="images/logo.png" style="width:6%;" alt="Info Logo" />
    <div class="navbar navbar-expand-md sticky-top">
        <nav class="nav navbar-nav">
            <ul class="navbar-nav m-auto">
                <li  class="nav-item active"><a class="nav-link" th:href="@{/home}">Accueil </a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/art}">Art </a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/culture}">Culture</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/conference}">Conférence</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/evenement/creer}" sec:authorize="hasRole('ROLE_ADMIN')">Nouvel Evénement</a></li>
                <li class="nav-item"><a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/profil}">Mon Espace</a></li>
                <li class="nav-item"><a class="nav-link" th:if="${#request.userPrincipal == null}" th:href="@{/login}">Connexion</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}"  th:if="${#request.userPrincipal != null}"  >Déconnexion</a></li>
            </ul>
        </nav>
    </div>
</header>
<hr />
<section layout:fragment="content"></section>

<footer th:class="navbar-fixed-bottom">
    <hr />
    <hr />
    <div class="containe">
        <small> Copyright 2021 </small>
    </div>
</footer>
</body>
</html>

